/* №1 

#parent {
    display: grid;
    grid-template-columns: 250px 400px 250px;
    border: 5px solid seagreen;
    padding: 10px;
    width: 900px;
}
#parent > div {
    padding: 10px;
    border: 1px solid seagreen;
}
*/

/* №2 

#parent {
    display: grid;
    grid-template-columns: 200px 200px;
    border: 5px solid seagreen;
    padding: 10px;
    width: 400px;
}
#parent > div {
    padding: 10px;
    border: 1px solid seagreen;
}
*/

/* №3 
#parent {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    border: 5px solid seagreen;
    padding: 10px;
    width: 450px;
}
#parent > div {
    padding: 10px;
    border: 1px solid seagreen;
}
*/

/* №4 */

#parent {
    display: grid;
    grid-template-columns: 100px 150px 200px;
    border: 5px solid seagreen;
    padding: 10px;
    width: 450px;
}
#parent > div {
    padding: 10px;
    border: 1px solid seagreen;
}