/* №1
#parent {
    display: grid;
    grid-template: 1fr 2fr / 1fr 2fr 2fr 4fr;
    border: medium solid fuchsia;
    padding: 10px;
    height: 400px;
    width: 1200px;
}

#parent > div {
    border: thin solid forestgreen;
    padding: 10px;
    
}
*/
/* №2
#parent {
    display: grid;
    grid-template: 1fr 2fr / 2fr 1fr 1fr 2fr;
    border: medium solid fuchsia;
    padding: 10px;
    height: 400px;
    width: 1200px;
}

#parent > div {
    border: thin solid forestgreen;
    padding: 10px;
    
}
*/
/* №3
#parent {
    display: grid;
    grid-template: 1fr 1fr 2fr 4fr / 1fr 3fr 6fr;
    border: medium solid fuchsia;
    padding: 10px;
    height: 400px;
    width: 1200px;
}

#parent > div {
    border: thin solid forestgreen;
    padding: 10px;
    
}
*/
/* №4
#parent {
    display: grid;
    grid-template: 2fr 1fr 1fr / 2fr 1fr 2fr 1fr;
    border: medium solid fuchsia;
    padding: 10px;
    height: 400px;
    width: 1200px;
}

#parent > div {
    border: thin solid forestgreen;
    padding: 10px;
    
}
*/
/* №5
*/
#parent {
  display: grid;
  grid-template: 2fr 1fr / 1fr 1fr 2fr 4fr 4fr;
  border: medium solid fuchsia;
  padding: 10px;
  height: 400px;
  width: 1200px;
}

#parent > div {
  border: thin solid forestgreen;
  padding: 10px;
}
