/* №1
#parent {
    display: grid;
    grid-template-columns: 20% 1fr 1fr;
    border: medium solid darkgray;
    padding: 10px;
    width: 600px;
}
#parent > div {
    border: thin solid rosybrown;
    padding: 10px;
}
*/
/* №2
*/
#parent {
    display: grid;
    grid-template-columns: 100px 20px 1fr 2fr 4fr;
    border: medium solid darkgray;
    padding: 10px;
    width: 600px;
}
#parent > div {
    border: thin solid rosybrown;
    padding: 10px;
}
