/* №1 
#parent {
    display: grid;
    gap: 10px;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    padding: 10px;
    border: 2px solid #696989;
    width: 600px;
    height: 200px;
}

#parent > div {
    padding: 10px;
    border: 1px solid #696989;
}
*/
/* №2
 */
 #parent {
    display: grid;
    gap: 10px 5%;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    padding: 10px;
    border: 2px solid #696989;
    width: 600px;
    height: 200px;
}

#parent > div {
    padding: 10px;
    border: 1px solid #696989;
}





